.search-bar__shortfilms-caption{
    display: inline;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    color: #fff;
    margin: 0;
}

@media screen and (max-width:750px){
    .search-bar__shortfilms-caption{
        font-size: 11px;
    }
}