.header{
    display: flex;
    justify-content: center;
    padding: 18px 20px;
    background-color: #073042;
    position: relative;
    height: max-content;
}

@media screen and (max-width: 970px){
    .header{
        padding: 18px 30px;
    }
}

@media screen and (max-width: 665px){
    .header{
        padding: 18px 14px;
    }
}