.about__timeline-name{
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px; 
    margin: 0;
}

@media screen and (max-width:665px){
    .about__timeline-name{
        font-size: 11px;
    }
}