.button{
    transition: all .3s;
}

.button:hover{
    transition: all .3s;
    opacity: 0.8;
    transform: translateY(-3%);
    box-shadow: 0 .6rem .6rem 0 rgba(0, 0, 0, 0.2);
}

.button:active{
    transition: all .1s;
    opacity: 1;
    transform: translateY(2%);
}

.button:active::after{
    transform: scale(1.2);
    opacity: 0.02;
}
