.login__input{
    position: relative;
    border-radius: 8px;
    background: #2F2F2F;
    border:none;
    padding: 15px;
    min-width: 396px;
    margin: 0;
    color: white;
    transition: all .25s;
    animation: appearing 1.2s ease-in-out;
    box-sizing: border-box;
}

.login__input:hover{
    transition: all .25s;
    opacity: 0.8;
    transform: scale(1.03);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.login__input:active{
    transform: scale(1.03) translateY(7px);
}

.login__input:nth-of-type(2){
    animation: appearing 1.6s ease-in-out;
}

.login__input:nth-of-type(3){
    animation: appearing 2s ease-in-out;
}

@media screen and (max-width:665px){
    .login__input{
        min-width: 260px;
    }
}
